:root {
    --main-color: #0dd4f2;
    --dark-bg: #2f3537;
    --light-bg: #3b4344;
}
@font-face {
	font-family: "Orion Pax";
	src: url(https://cdn.rawgit.com/Zerthox/zerthox.github.io/master/fonts/Orion%20Pax/Orion%20Pax.otf);
}
@font-face {
	font-family: "Orion Pax";
	font-weight: bold;
	src: url(https://cdn.rawgit.com/Zerthox/zerthox.github.io/master/fonts/Orion%20Pax/Orion%20Pax%20Bold.otf);
}
@font-face {
	font-family: "Orion Pax";
	font-style: italic;
	src: url(https://cdn.rawgit.com/Zerthox/zerthox.github.io/master/fonts/Orion%20Pax/Orion%20Pax%20Italic.otf);
}
@font-face {
	font-family: "Orion Pax";
	font-style: italic;
	font-weight: bold;
	src: url(https://cdn.rawgit.com/Zerthox/zerthox.github.io/master/fonts/Orion%20Pax/Orion%20Pax%20Bold%20Italic.otf);
}
body {
    background: var(--light-bg);
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: hsla(0, 0%, 100%, .7);
}
a {
    color: var(--main-color);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover {
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
}
::selection,
::-moz-selection {
    color: var(--dark-bg);
    background: hsla(0, 0%, 100%, .7);
}
body > * {
    min-width: 500px;
}
.site-header {
    width: 100%;
    height: 200px;
    background: var(--dark-bg);
    box-shadow: inset 0 -3px 10px rgba(0, 0, 0, .3);
    text-align: center;
}
.site-header .header-name {
    height: 200px;
    color: var(--main-color);
    font-family: "Orion Pax";
    font-size: 100px;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
    line-height: 200px;
}
.site-body {
    width: 50%;
    max-width: 750px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tab-bar {
    margin-top: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 3px;
    overflow: hidden;
}
.tab-bar .tab-bar-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgba(0, 0, 0, .3);
    color: hsla(0, 0%, 100%, .7);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    -wekbit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.tab-bar .tab-bar-item + .tab-bar-item {
    margin-left: 3px;
}
.tab-bar .tab-bar-item:hover,
.tab-bar .tab-bar-item.active {
    background: rgba(0, 0, 0, .5);
}
.tab-bar .tab-bar-item:hover {
    color: #fff;
}
.tab-bar .tab-bar-item.active {
    color: var(--main-color);
}
.tab-bar li,
.list li {
    list-style-type: none;
}
.content {
    margin: 20px 0;
    padding: 20px 40px;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
    border-radius: 3px;
}
.content.build {
	position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.list.links {
    width: 50%;
    margin: auto;
}
.build-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    flex: 1;
}
.back-button {
    position: absolute;
    height: 36px;
    width: 36px;
	bottom: 5px;
    right: 5px;
    color: hsla(0, 0%, 100%, .5);
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.back-button:hover {
    color: hsla(0, 0%, 100%, .7);
}
.back-button i {
	font-size: 36px;
}
.list.builds li {
    position: relative;
    margin-left: 20px;
    padding: 5px;
}
.list.builds li::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    top: calc(50% - 2px);
    left: -10px;
    background: hsla(0, 0%, 100%, .7);
}
.list a {
    text-decoration: none;
}
.list .list-item {
    position: relative;
    padding: 20px;
    margin: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsla(0, 0%, 100%, .7);
    border-radius: 3px;
    -wekbit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.list .list-item:hover {
    background: rgba(0, 0, 0, .1);
}
.list .list-item .icon {
    height: 52px;
    width: 52px;
    padding: 10px;
    margin-right: 10px;
    background: rgba(0, 0, 0, .1);
    opacity: .7;
}
.list .list-item .info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.list .list-item .info .title {
    font-weight: 600;
}
.list .list-item .info .name {
    color: var(--main-color);
}
.list .list-item .ghost-text {
    position: absolute;
    right: 10px;
    height: 100%;
    color: hsla(0, 0%, 100%, .1);
    font-size: 50px;
    font-weight: 600;
}
.site-footer {
    width: 100vw;
    height: 20px;
    background: var(--dark-bg);
    text-align: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (orientation: portrait) {
    /* WIP */
}
