---
---

// IMPORT MIXINS
@import "css/mixins.scss";

// VARIABLES
$cyan: #0dd4f2;
$site-bg: #2f2f2f;
$footer-bg: #373737;
$delay: 3s;

// GENERAL
body {
    background: $site-bg;
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: hsla(0, 0%, 100%, .7);
}
a {
    color: hsla(0, 0%, 100%, .7);
    @include transition(all .15s ease-in-out);
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}
h1.margin {
    margin-top: 30px;
}
@each $selector in  selection, -moz-selection {
    ::#{$selector} {
        color: $site-bg;
        background: hsla(0, 0%, 100%, .7);
    }
}

// CONTENT
.site-body {
    width: 100%;
    margin: auto;
    padding: 20px 40px;
    @include display-flex;
    @include flex-direction(column);
    @include flex-grow(1);
    .content {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        @include flex-grow(1);
        margin-bottom: 10vh;
        .title,
        .text {
            text-align: center;
            @include animation(fade-in $delay ease-in-out);
        }
        .title {
            color: $cyan;
            font-size: 50px;
            font-weight: 600;
            text-shadow: rgba(0, 0, 0, .5) 1px 4px 10px;
            &.large {
                font-size: 150px;
            }
        }
        .text {
            font-size: 20px;
        }
    }
}

// FOOTER
.site-footer {
    @include display-flex;
    padding: 5px 20px;
    background: $footer-bg;
    color: hsla(0, 0%, 100%, .7);
    font-size: 13px;
    @include user-select(none);
    & > .left,
    & > .right {
        @include animation(fade-in $delay ease-in-out);
    }
    & > .left {
        margin-right: auto;
    }
    & > .right {
        margin-left: auto;
    }
    & > * > * {
        margin: 0 5px;
    }
    a {
        color: hsla(0, 0%, 100%, .7);
        @include transition(all .15s ease-in-out);
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

// KEYFRAMES
@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}