.list {
    display: flex;
    flex-direction: column;
}

.item {
    position: relative;
    padding: 20px 60px;
    display: flex;
    border-radius: 3px;
    &:hover {
        background: hsl(220, 5%, 20%);
    }
}

.link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: hsla(0, 0%, 100%, .7);
    text-decoration: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name {
    font-size: 18px;
    font-weight: 600;
}
.date {
    margin-left: 10px;
    color: hsla(0, 0%, 100%, .3);
}
.description {
    font-size: 14px;
    max-width: 600px;
}

.author {
    margin-left: 1ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    cursor: default;
}
