// COLORS
$gray-light: #3d3f43;
$gray-medium: #303236;
$gray-dark: #242628;
$black: #0f1010;
$blue-dark: hsl(220, 30%, 30%);
$blue-light: hsl(220, 30%, 50%);
$orange-dark: hsl(30, 95%, 40%);
$orange-light: hsl(30, 95%, 60%);
