@use "colors";

.header {
    padding: 5px 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: colors.$gray-medium;
    z-index: 1;
    user-select: none;
}

.title {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 20px hsla(0, 0%, 100%, .3);
}
.name {
    margin-left: 10px;
}

.bar {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.item {
    margin: 0 10px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: all .15s ease-in-out;
    &:hover,
    &.active {
        background-color: rgba(0, 0, 0, .3);
    }
}
