@use "colors";

$min-page-size: 700px;
$max-content-size: 1000px;

body {
    background: #000;
    margin: 0;
}

.main {
    height: 100vh;
    min-width: $min-page-size;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    justify-content: stretch;
    color: hsla(0, 0%, 100%, .7);
    font-family: sans-serif;
    line-height: 1.5;
}

.body {
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$gray-light;
}

.title {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px hsla(0, 0%, 100%, .3);
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.author {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: hsla(0, 0%, 100%, .7);
}
.date {
    margin-left: 10px;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .3);
}

.content {
    max-width: $max-content-size;
    margin: 0 10px;
    padding: 30px 60px 40px;
    background-color: colors.$gray-dark;
    border-radius: 3px;
}
