@use "colors";

.codeblock,
.inline {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
}

.codeblock {
    position: relative;
    display: block;
    margin: 10px 0;
    padding: 5px 10px 5px 4ch;
    background: colors.$black;
    border-radius: 5px;
    font-size: 14px;
    tab-size: 4;
    overflow-x: auto;
    .no-margin & {
        margin: 0;
    }
}
.content {
    white-space: pre;
}
.number {
    position: absolute;
    width: 3ch;
    margin-left: -4ch;
    color: #3a454d;
    text-align: right;
    user-select: none;
}
.line {
    margin-left: 4ch;
}

.inline {
    padding: 1px 3px;
    background: #1a1b1e;
    border-radius: 3px;
    font-size: 14px;
}
